#Gioele Giunta 12-04-2024

php_flag display_errors 1
php_value error_reporting 32767 

#php_flag display_errors 0
#php_value error_reporting 0

<FilesMatch "\.(json|lock|ini)$">
    Order allow,deny
    Deny from all
</FilesMatch>

<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Rewrite in 404.html when the file doensn't exist
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php [L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.html -f
    RewriteRule ^(.*)$ $1.html [L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ 404.html [L]
</IfModule>


Options -Indexes


